/* Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

&cpuflpr_vpr {
	status = "okay";

	hpf_ws2812: ws2812 {
		compatible = "nordic,hpf-ws2812";
		status = "okay";
	};
};
